# Python virtual environment
.venv/

# Generated images from finding hexes
finding_hexes/generated_images/*

# Generated boards
generated_boards/*

# Yolo dataset
yolo_dataset/*

runs/*

# Optional Python ignores
__pycache__/
*.pyc