# Python virtual environment
.venv/

# Generated images from finding hexes
champion_detection/finding_hexes/*

# Generated boards
generated_boards/*

# Yolo dataset
champion_detection/yolo_dataset/*

runs/*

# Optional Python ignores
__pycache__/
*.pyc